body{
    background-color: azure;
}
h1{
    color:blue;
    font-size: 50px;
    text-align: center;

}
p{
    color:black;
    font-size: 30px;
    text-align: justify;
}
.logo {
    width: 600px;
    height:500px;
    margin: 2px; /*insere um espaçamento externo ao elemento, ao redor da borda*/
    padding: 2px; /*define uma distância interna entre um elemento e sua borda*/
    border: 0.2rem solid blue;
    border-radius: 10px;
}
