body{
    background-color: azure;
}
h1{
    color:blue;
    font-size: 50px;
    text-align: center;

}
p{
    color:black;
    font-size: 30px;
    text-align: justify;
}
.logo {
    width: 500px;
    height:400px;
    margin: 2px; /*insere um espaçamento externo ao elemento, ao redor da borda*/
    padding: 2px; /*define uma distância interna entre um elemento e sua borda*/
    border: 0.2rem solid azure;
    border-radius: 10px;
}
.fotos{
width: 500px;
height: 300px;
margin: 10px;
padding 3px;
border: 0.5rem solid azure;
border-radius: 24px;
}
