body{
    font-family: sans-serif;
    background-color:azure;
}
header{
    background-color: darkgrey;
    border-bottom: 2px solid silver;
}
h1{
    color:rgb(0, 174, 255);
    font-size: 50px;
    text-align: center;

}
h2{
    color: rgb(90, 122, 224);
    font-size: 30px ;
    text-align: justify;
    
}
h3{
    color:black;
    font-size: 30px;
    text-align: justify;
}
p{
    color:rgb(0, 0, 0);
    font-size: 30px;
    text-align: justify;
}
.logo {
    width: 500px;
    height:400px;
    margin: 2px; /*insere um espaçamento externo ao elemento, ao redor da borda*/
    padding: 2px; /*define uma distância interna entre um elemento e sua borda*/
    border: 0.2rem solid azure;
    border-radius: 10px;
}
.fotos{
width: 500px;
height: 300px;
margin: 10px;
padding 3px;
border: 0.5rem solid rgb(186, 212, 252);
border-radius: 24px;
}
